<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ValueAtRisk.Properties.Settings.VARDATAConnectionString"
            connectionString="Data Source=dburka.database.windows.net;Initial Catalog=VARDATA;Persist Security Info=True;User ID=hallgato;Password=IRFgyak2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>